<template>

  <div style="width:500px; height:650px; margin:0 auto;">
  <v-carousel style="width:500px; height:200px; " >
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
      style="width:500px; height:200px; "
    ></v-carousel-item>
  </v-carousel>
  <br>
  <font face="微軟正黑體" size="4" color="#000000"><b>世界各地各種珍奇猛獸，在III ZOO一次展現!</b></font>
  <template>
  <v-container grid-list-md >
    <v-layout row wrap style="width:200px;margin:0 auto;">
      <v-flex xs12>
        <v-expansion-panel popout >
          <v-expansion-panel-content >
            <template v-slot:header>
              <div><b>關於III ZOO</b></div>
            </template>
            <v-card>
              <v-card-text>III ZOO成立於2019暑假，由Amy與Uln領導吸收世界各地奇珍異獸，為全球最大動物集散中心，收益持續正成長更是逐年翻倍，是不可忽略的動物管理大廠。
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
      <v-flex xs12 >
        <v-expansion-panel popout>
          <v-expansion-panel-content >
            <template v-slot:header>
              <div><b>票價</b></div>
            </template>
            <v-card>
              <v-card-text>暑期優待票<br>
              成人：$300/人<br>
              學生：$250/人<br>
              兒童票：$120/人<br>
              敬老票：$120/人
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
      <v-flex xs12 >
        <v-expansion-panel popout>
          <v-expansion-panel-content >
            <template v-slot:header>
              <div><b>聯絡資訊</b></div>
            </template>
            <v-card>
              <v-card-text>客服專線：0900500550<br>
              網頁：https://iii.zoo<br>

              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>

</div>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: 'https://imgur.com/5nIdZDb.jpg'
          },
          {
            src: 'https://imgur.com/YUnOnFN.jpg'
          },
          {
            src: 'https://imgur.com/H4KfN9f.jpg'
          },
          {
            src: 'https://imgur.com/5rmNIPj.jpg'
          },
          {
            src: 'https://imgur.com/Dzdw5HJ.jpg'
          },
          {
            src: 'https://imgur.com/teoL6i0.jpg'
          },
          {
            src: 'https://imgur.com/quJZZxD.jpg'
          }
        ]
      }
    }
  }
</script>
