<template>

  <div class="home">

    <div style="height:540px">
    <img alt="Zoo logo" src="https://imgur.com/B5oWInx.png" width="245" height="130">
    <br>
    <font face="微軟正黑體" size="4" color="#000000"><HelloWorld msg="資策會動物管理系統"/></font>
    <div align="center">

    <table width="850" height="250" >
      <tr>
        <td onmouseover="this.style.background ='url(https://imgur.com/W7cTy2e.png)';" onMouseOut="this.style.background ='url(https://imgur.com/3dRJA8Z.png)';"><router-link to="/mammal"><center><img src="https://imgur.com/BuPJoiY.png" ></center></router-link></td>
        <td onmouseover="this.style.background ='url(https://imgur.com/W7cTy2e.png)';" onMouseOut="this.style.background ='url(https://imgur.com/3dRJA8Z.png)';"><router-link to="/bird"><center><img src="https://imgur.com/f0jDL9f.png" ></center></router-link></td>
        <td onmouseover="this.style.background ='url(https://imgur.com/VP3NiGi.png)';" onMouseOut="this.style.background ='url(https://imgur.com/MqVnAir.png)';"><router-link to="/reptile"><center><img src="https://imgur.com/FHcqAG8.png" ></center></router-link></td>
        <td onmouseover="this.style.background ='url(https://imgur.com/W7cTy2e.png)';" onMouseOut="this.style.background ='url(https://imgur.com/3dRJA8Z.png)';"><router-link to="/fish"><center><img src="https://imgur.com/RAr6xSd.png" ></center></router-link></td>
      </tr>
      <tr>
        <td><center><font face="微軟正黑體" size="4" color="#FFFFFF">哺乳類</font></center></td>
        <td><center><font face="微軟正黑體" size="4" color="#FFFFFF">鳥類</font></center></td>
        <td><center><font face="微軟正黑體" size="4" color="#FFFFFF">爬蟲類</font></center></td>
        <td><center><font face="微軟正黑體" size="4" color="#FFFFFF">魚類</font></center></td>
      </tr>
  </table>
  </div>
  </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>
