<template>
  <div style="width:900px;height:650px;margin:0 auto;">
  <div id="reptile" >
    <v-toolbar flat color="white" >
      <v-avatar>
      <img src="https://imgur.com/FHcqAG8.png">
      </v-avatar>
      <v-divider class="mx-3" inset vertical></v-divider>
      <v-toolbar-title><font face="微軟正黑體" size="4"><b>爬蟲動物</b></font></v-toolbar-title>
      <v-spacer>
      </v-spacer>

      <v-dialog v-model="dialog" scrollable max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color=	"blue" dark class="xs2" v-on="on"><font face="微軟正黑體" size="3">新增</font></v-btn>
        </template>
        <v-card flat class="ma-3 text-xs-center">
          <div align="center">
          <v-card-title primary-title class="justify-center" height="10px">
            <span>
            <img  src="https://imgur.com/7RfucBI.png" width="250" height="80">
            </span>
          </v-card-title>
          </div>
          <v-card-text style="height: 300px;">
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs6>
                  <v-text-field v-model="editedItem.name" label="姓名(小名)"></v-text-field>
                </v-flex>
                <v-flex :key="`6${i}`" xs6>
                  <v-select :items="items2" label="負責人" v-model="editedItem.manager"></v-select>
                </v-flex>
                <v-flex :key="`6${i}`" xs4>
                  <v-select :items="items" label="性別" v-model="editedItem.gender"></v-select>
                </v-flex>
                <v-flex :key="`6${i}`" xs8>
                  <v-slider v-model="editedItem.age" :label="ex3.label" :thumb-color="ex3.color" thumb-label="always" color="#F08080"></v-slider>
                </v-flex>
                <v-flex :key="`6${i}`" xs12>
                  <v-select v-model="editedItem.remark" :items="items3" chips label="備註" multiple></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">取消</v-btn>
            <v-btn color="blue darken-1" flat @click="save">儲存</v-btn>
          </v-card-actions>

        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table :headers="headers" :items="this.$store.state.animals" class="elevation-1">
      <template v-slot:items="props">
        <td>{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.gender }}</td>
        <td class="text-xs-right" >{{ props.item.age }}</td>
        <td class="text-xs-right" >{{ props.item.manager }}</td>
        <td class="text-xs-right" >{{ props.item.remark }}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-btn color="error" xsmall valign="center" @click="deleteItem(props.item)">刪除</v-btn>
        </td>
      </template>
      <template v-slot:no-data>
        <div class="text-xs-center">
          <v-dialog v-model="dialog2" width="500">
      <template v-slot:activator="{ on }">
        <v-btn color="red lighten-2" dark v-on="on">了解更多</v-btn>
      </template>
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title align="center">
          <font face="微軟正黑體" size="4" >警訊!</font></v-card-title>
        <v-card-text>
          系統目前無資料，請問是否願意還原初始值?
        </v-card-text>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="dialog2= false">取消</v-btn>
          <v-btn color="error" flat @click="initialize">確定</v-btn>
        </v-card-actions>
      </v-card>
      </v-dialog>
      </div>
     </template>
    </v-data-table>
  </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    ex3: { label: '年齡', val: 50, color: '#F08080' },
    select: [],
    items: ['男生', '女生'],
    items2: ['Amy', 'Uln'],
    items3: ['兇猛', '壞脾氣','慵懶', '親人','溫和', '機智', '愛吃'],
    dialog: false,
    dialog2: false,
    selectedFile: null,
    headers: [
      {
        text: '名字',
        align: 'left',
        sortable: false,
        value: 'name'
      },
      { text: '性別', value: 'gender'},
      { text: '年齡', value: 'age' },
      { text: '飼養人', value: 'manager' },
      { text: '備註', value: 'remark' },
      { text: '編輯與刪除', value: 'name', sortable: false }
    ],
    animals: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      gender: 0,
      age: 0,
      manager: 0,
      remark: 0
    },
    defaultItem: {
      name: '',
      gender: 0,
      age: 0,
      manager: 0,
      remark: 0
    }
  }),

  computed: {
  formTitle () {
    return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
  }
},

watch: {
  dialog (val) {
    val || this.close()
  }
},

created () {
  this.$store.dispatch('initialize')
},

methods: {

  initialize () {
    this.$store.dispatch('initialize')
  },

  editItem (item) {
    this.editedIndex = this.$store.state.animals.indexOf(item)
    this.editedItem = Object.assign({}, item)
    this.dialog = true
  },

  deleteItem (item) {
    confirm('是否確定要刪除此筆資料?') && this.$store.commit('deleteItem',item)
  },

  save () {
    if (this.editedIndex > -1) {
      Object.assign(this.$store.state.animals[this.editedIndex], this.editedItem)
    } else {
      this.$store.state.animals.push(this.editedItem)
    }
    this.close()
  },

  close () {
    this.dialog = false
    this.editedItem = Object.assign({}, this.defaultItem)
    this.editedIndex = -1
  }
  },
 }
</script>
<style>
.v-btn {
  min-width: 0;
  min-height: 1;
}
</style>
