
<template>
  <v-app>
  <div style="background-image: url('https://imgur.com/Dg4q3iO.jpg');background-size:100% 100%">
  <div id="app">
    <div id="nav">
      <router-link to="/">首頁</router-link> |
      <router-link to="/about">關於</router-link>
    </div>
    <router-view/>
  </div>
  </div>
  </v-app>
</template>



<style>

#app {
  font-family: '微軟正黑體', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: 	#FFDD55;
}


</style>
